@using MoviesReview.Models
@{
    ViewBag.Title = "Contact Us";
}

@model string

<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AglqlqQgF_dEaS3S7mR7g--ZYzo_Xfaqy0WS68UwWaisBsU0QREVDSmOPKY_yicD' async defer></script>


<h1>
    @ViewBag.Title
</h1>
<div style="display: flex; justify-content: space-between;">
    <div>
        <strong>Owners: </strong> <br />
        <a href="mailto:ronnahom96@gmail.com">ronnahom96@gmail.com</a><br />
        <a href="mailto:barofi14@gmail.com">barofi14@gmail.com</a><br />
        <a href="mailto:rotem4432@gmail.com">rotem4432@gmail.com</a><br />
    </div>
</div>

