@using MoviesReview.Models
@{
    ViewBag.Title = "Contact Us";
    ViewBag.Location = 7519007;
}

@model string

<h1>
    @ViewBag.Title
</h1>
<div style="display: flex; justify-content: space-between;">
    <div>
        <strong>Owners: </strong> <br />
        <a href="mailto:ronnahom96@gmail.com">ronnahom96@gmail.com</a><br />
        <a href="mailto:barofi14@gmail.com">barofi14@gmail.com</a><br />
        <a href="mailto:rotem4432@gmail.com">rotem4432@gmail.com</a><br />
    </div>
    <div>
        <address>
            Our College at Elie Wiesel St. 2, Rishon LeZion, Israel
        </address>
        <iframe src="https://www.google.com/maps?q=@(ViewBag.Location)&output=embed" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

